<div class="container">
	<h1>{{ title }}</h1>
	<input type="text" placeholder="Enter a new task " [(ngModel)]="newTask" />
	<button (click)="addTask(newTask)">Add a new task</button>
    <div class="m-5"></div>
	<ul *ngFor="let item of list">
		<li>{{ item.value }} <button class="bg-white border-0" (click)="removeTask(item.id)">❌</button></li>
	</ul>
</div>
